## print hello world

In [6]:
print("Hello")
10

Hello

10

## Variables

In [9]:
a = 10
b = 20
b
a+b #only last line will be giving output

30

## Assigning different type of data to a variable

In [10]:
a = 10
a = 20
a = "Hello"
a

'Hello'

In [11]:
type(a)

str

In [12]:
x =10
x = "abcd"
print(x)

abcd

## Python Numbers

In [2]:
a1 = 23
a2 = 3.4
a3 = 4+5j
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [6]:
a = 10
print(id(a)) # address is different for this a than next a
a = a+1
print(id(a))# id gives unique number
a

140712095131712
140712095131744

11

In [7]:
a = 10
b = 10
print(id(a)) #variable with same value will have same storage address 
print(id(b)) # python does this optimization between numbers -5 to 256

140712095131712
140712095131712

In [9]:
a =10
id1 = id(a)
b = a+2-2
id2 = id(b)
print(id1)
print(id2)

140712095131712
140712095131712

## Arithmatic Operators

In [10]:
10+3

13

In [12]:
10-3.4

6.6

In [13]:
a = 10
b = 4

In [14]:
a*b

40

In [15]:
a/b #floating point division

2.5

In [16]:
a//b #integer division

2

In [17]:
a**b #exponentiation

10000

In [18]:
a%b #remainder

2

In [19]:
2+3*4

14

In [20]:
2*3/4 #doesn't matter what operation is done first

1.5

In [21]:
2*3//4 #left to right operation will be done

1

In [24]:
#simple interest to lower integer
p = 100
r =12
t=2
#si= p*r*t//100
si = (p*r*t)//100
si

24

In [28]:
#fah to cel conversion
f = 100
c = (f-32)*5/9
ci = (f-32)*5//9
print(c)
print(ci)

37.77777777777778
37

In [29]:
"ab"+"cd"

'abcd'

## Taking Inputs

In [31]:
a = input()
a

23

'23'

In [37]:
a = input() # by default it is string
b = input()
s = a+b
print(s)

23
34
2334

In [33]:
a  = int(input())
type(a)

23

int

In [35]:
c = int(3.7) #floor of value will be provided as output
c

3

In [38]:
a = int(input()) # by default it is string
b = int(input())
s = a+b
print(s)

23
34
57

In [40]:
a = float(input())
a

2.33

2.33